[submodule "report/typst_pyexec"]
	path = report/typst_pyexec
	url = git@github.com:Arkanthara/typst_pyexec.git
[submodule "report/neural-viz"]
	path = report/neural-viz
	url = git@github.com:Arkanthara/neural-viz.git
[submodule "code/sarepy"]
	path = code/sarepy
	url = https://github.com/nghia-vo/sarepy.git
